.header__link-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding-bottom: 38px;
  border: none;
  text-decoration: none;
  text-align: start;
  cursor: pointer;
  transition: .3s opacity;
}

.header__link-text:hover {
  opacity: .6;
}

@media screen and (max-width: 560px) {
  .header__link-text {
    padding-bottom: 0;
    margin: 20px auto;
  }
}

